body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#canvas_container {
    position: relative;
    display: inline-block;
}

#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
}

#all_settings {
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0);
}

.tab_button {
    padding: 12px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.settings_container {
    border: 2px solid rgb(192, 192, 192);
    border-top: 0px;
    vertical-align: top; 
    display: none;
    background-color: rgb(190, 253, 255);
    padding: 5px;
    height: 100%;
}

#shadow_settings_container {
    background-color: #C7CEEA;
}

#player_settings_container {
    background-color: #E2F0CB;
}

#scene_settings_container {
    background-color: #FFDAC1;
}

#controller_settings_container {
    background-color: #B5EAD7;
}

#object_render_settings_container {
    background-color: #FFB7B2;
}

.slider_container {
    display: inline-block;
    padding: 2px;
}

.dropdown_container {
    display: inline-block;
    padding: 2px;
}

.checkbox_container {
    display: inline-block;
    padding: 2px;
}

.value {
    display: inline-block;
}

.value_title {
    display: inline-block;
}

.input {
    display: block;
}